# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
dist-electron/
release/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.project
.settings
.classpath

# Testing
coverage/
*.test.js.snap

# Electron
out/
*.nupkg
*.blockmap

# Environment
.env
.env.local
.env.*.local

# Debug
*.tsbuildinfo

# Webpack
.webpack/

# Misc
*.pem
*.p12
*.mobileprovision
